.navbar .links {background-color:transparent !important;}
.nav-links a span{color:#000;}
.iconfont {color:#000 !important;}
.navbar .site-name {color:#31c27c !important;}
.navbar {background:transparent !important;box-shadow: none !important;}
.navbar {position:absolute !important;}
.home-blog .hero{font-family: Long Cang,cursive!important;}
.nav-links a:hover, .nav-links a.router-link-active {color:#000 !important;}